# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
*.egg-info/
.coverage
htmlcov/

# Raw data pulls
data/raw/
data/*.json

# dbt
pipeline/dbt/target/
pipeline/dbt/dbt_packages/
pipeline/dbt/logs/
pipeline/dbt/profiles.yml
pipeline/dbt/logs/
pipeline/dbt/.user.yml

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/*.tfvars
infra/.terraform.lock.hcl

# Airflow
pipeline/airflow/logs/
pipeline/airflow/airflow.db

# OS / editor
.DS_Store
.vscode/
.idea/

# Keys and certificates
*.pem
*.key

# General logs
*.log

# Environment
.env
.env.*